html{height:100%}
body{background-color:#eee;padding:0;margin:0;height:100%}
div#root{height:100%}
.cc-nav{
  background-color:#333;
  height: 3.5rem;
  width: 100%;
}
.cc-nav a{color:#fff}
.cc-h-area{
  padding-top:0;
}
a{
  color:#336699;
  text-decoration: none;
}
.cc-body {
  height:calc(100% - 5rem);
  overflow:scroll;
}